
<div>
	<p>Thank you for purchasing Faith Block(s) on <a href=" www.myfaithshines.com."> www.myfaithshines.com.</a> Your purchase on <%= time.in_time_zone('Pacific Time (US & Canada)').strftime('%m/%d/%Y %H:%M PST') %>
		 is confirmed and your blocks will be activated as soon as your payment is processed.</p>
		 
	<p>If you paid using a Paypal account or a credit card, your statement will show a payment to <b>Box- Office Blocks, LLC.</b> If you paid using a <b>Sponsored Gift Code</b>, your Good Dog Block will bear your
	Sponsor’s name.<p> 
		
	<p>Your Certificate will be sent via email, so be on the lookout.</p>	 
	
	
	<p style="margin-left: 20px;">Order Number: <%= transaction_id %></p> 
	<p style="margin-left: 20px;">Order Specs: <%= user.email %> </p> 
	<p style="margin-left: 20px;">Total Number of Blocks:<%= number_blocks %></p>
	<p style="margin-left: 20px;">Total Purchase: $<%= price %> USD </p>
	<p style="margin-left: 20px;">Payment Method: 
		 <%= method.join(',') %>
	</p> 

	
	<p>You can contact us via mail at Tinted Glass Films, LLC, PO Box 643, La Center, WA 98629 or via email at <a href="mailto:support@tintedglassfilms.com"> support@tintedglassfilms.com.</a> Please include your order number with all correspondence.</p>

<p>Thank you again for your support and be sure to invite your friends!</p>

<p>Power to the Paw!</p>

<p style="font-size: 11px">From time to time you may receive emails from Tinted Glass Films. We promise not to be a nuisance but if you prefer to not
hear from us, send a message to <a href="info@boxofficeblocks"> info@boxofficeblocks.com </a> and we will remove you from the list.</p>

<%= image_tag URI.join(root_url, image_path('email_graphic_smaller.jpg')) %>

		
</div>
