<%= form_for(@non_profit) do |f| %>
  <% if @non_profit.errors.any? %>
    <div id="error _explanation">
      <h2><%= pluralize(@non_profit.errors.count, "error") %>
      prohibited this non-profit from being saved:</h2>

      <ul>
        <% @non_profit.errors.fullmessages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
  <%= f.label :name %><br/>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :email %><br/>
  <%= f.text_field :email %>
</div>

<div class="field">
	<%= f.label :address %><br/>
	<%= f.text_field :address %>
</div>

<div class="field">
	<%= f.label :zipcode %><br/>
	<%= f.text_field :zipcode %>
</div>

<div class="actions">
  <%= f.submit "Next", :class => "button" %>
</div>
<% end %>