<h2><b>Find My Dog</b></h2>
<% if current_user.nil? %>
	<p>Sign-in here if you’d like to take a look at the Good Dog Blocks that you've 
built.</p>
	<div id="login_from_partial" style="margin-left: 147px;display: inline;float:left">
		<%= render :partial=> 'devise/sessions/find_my_dog_login' %>  		
	</div>
	
	<div id='img_find_dog' style="float: right;width: 300px"> 
		<img src="assets/wrinkly_dog.jpg" style="float: right;width:150px">
	</div>

<% else %>
	
	
	<h2>WELCOME BACK!</h2>
	<% if @user_rooms.blank? %>
		<p>You have yet to build any Good Dog Blocks.</p>
		<br />
		<div class="selectnp">
			<label> Please select an organization and get started now: </label><%= select_tag :id, options_from_collection_for_select(NonProfit.all, "id", "name") %><input class="button" id="getstarted_gonp" name="commit" type="submit" value="Go">
		</div>
	<%end%>
		<div style="margin-top: 40px;margin-left: 40px">	
			
				<%if !@user_rooms.blank? %>
					<% @user_rooms.each do |d| %>				
							<div id="find_list">
								<%if !d.dog.image.url.nil? %>
									<div class="mydog_image"><%=  image_tag (d.dog.image.url), :class => 'dog_image_td' %></div>
								<%else%>
									<div class="mydog_image"></div>
								<%end%>
								<% if !d.dog.name.blank? %>
									<div id="mydog" class="name" style="width: 150px;"><p><%= d.dog.name %></p></div>
								<%else%>
									<div id="mydog" class="name" style="width: 150px;"></div>
								<%end%>
								<% if !d.non_profit.nil? %>
									<div id="mydog"><p><%= d.non_profit.name %></p></div>
								<%else%>
									<div id="mydog"></div>
								<%end%>
								
								<div id="mydog"><p> Row <%= d.y - 1%> / Column <%= d.x.to_i.to_s(26).tr("1-9a-q", "A-Z") %></p></div>
								<div id="mydog"><p><%= link_to 'Go There!', nonprofit_view_path(d.non_profit.id, :selection_room => d) %></p> </div>
								
								<div id="dotted_line"></div>	
							</div>									
					<%end%>
				<%end%>
			
		</div>
<% end %>





