<%= stylesheet_link_tag  'http://fonts.googleapis.com/css?family=Playball', :media => "all" %>
<div id="wrapper">
	<div id="sidebar">
		<div id="signup">
            <div style="text-align: center;">
                <a href="#">
                  <h2 style="margin: 0px;">Church Sign Up</h2><br/>
                  <img src='assets/signup.jpg'><br/>
                </a>
                All non-profit churches, groups and organizations
				  are invited to support this faith-based project
            </div>

		</div>
	    <div id="section">
		    <div class="sectionwrapper">
				<!--
				<% if @sponsors.length >= 1 %>
					<% if @sponsors.length > 1  ? @class='rotator' : @class='img_fixed' %>		
						<div>
							<h2>Featured Sponsors</h2>
							<div id="slidercontainer">
								<div class="<%= @class %>">
									<ul>
										<% @sponsors.each do |sponsor|%>
										<li class="show">
											<%= link_to image_tag(sponsor.image.url, :border=>0), sponsor.site, :target=>'_blank'  %>
										</li>
										<% end %>
									</ul>
								</div>
							</div>
						</div>
					<%end%>	
				<%end%>
				!-->
				<div class="sidecontent">
					<h2>Participating Organizations</h2>
						<ul>
							<% @nonprofits.each do |nonprofit|%>
								<li>  <%= link_to nonprofit.name, nonprofit_view_path(nonprofit.id) %></li>
							<% end %>
						</ul>
				</div>
			</div>
		</div>			
    </div>
	<div class="content">
        <div style="float:left; width: 310px; text-align: center;">
          <input type="button" value="sign up" title="sign up" style="color: #C89305;"><br/>
          Sign up and build a Faith Block!
        </div>
        <div style="float:left; width: 310px; text-align: center;">
          <input type="button" value="sign in" title="sign in" style="color: #C89305;"><br/>
          Sign in if you are a returning friend!
        </div>
		<!-- Going with a static image now instead since the list of organizations is so large
		<div class="snapshots_wrapper">
			<% @nonprofits.each do |nonprofit|%>
				<div class="snapshot_container">
					<%= link_to image_tag(nonprofit.snapshot.url), nonprofit_view_path(nonprofit.id)  %>
					<%= link_to nonprofit.name, nonprofit_view_path(nonprofit.id), :class=>'nonprofit_name'  %>
				</div>
			<% end %>
		</div>
		!-->
		<img src='assets/home_static_image.jpg'/>

	</div>
    <div style="text-align: center; margin: 14px;">
        <div style="float:left; width: 260px;" >
          <a href="http://tintedglassfilms.com" target="_blank"><img alt="Tgf_logo" class="logo_LHF" style="width: 190px; margin-top: 15px;" src="/assets/TGF_logo.jpg"></a>  <br/>
          <a href="http://boxofficeblocks.com" target="_blank"><img alt="Bob_logo" class="logo_footer" style="width: 220px; margin-top 15px;" src="/assets/BOB_Logo.jpg"></a>
        </div>
        <div style="float:left;">
          <img src="/assets/nbci-logo.jpg">
        </div>
        <div style="font-family: 'Playball', cursive; font-size: 30px; float:right; width: 500px; color: #C89305; margin-bottom: 13px; line-height: 100%; padding-top: 20px; vertical-align: top;">
          Bringing you the faith-based feature file<br/>&quot;Born to Overcome&quot;
        </div>
        <div style="clear:both; font-size: 10px; color: #C89305; text-align: center; width: 780px; margin-left: auto; margin-right: auto;" >
          Tinted Glass Films and Box-Office Blocks, LLC, is committed to ensuring that “Born to Overcome” is completed as intended and as advertised. If we do not meet with success,
          this will in no way be a reflection on the character, truthfulness or honest intentions of the National Black Church Initiative or the National Black Religious Broadcasters.
        </div>
    </div>
</div>
