<div id= "spread">
	<div class="containers">
		<h2><b>Spread The Word</b></h2>
		<img id="dog_img"  src="assets/spread_little_dog.jpg" />
		<p><b>The "I Am a Good Dog" effort will only work if it spreads. And just like peanut butter, paint, germs and joy - YOUR help is needed.</b>
		<b>Here are a couple of things you can do:</b></p>
		
		<h3><b>Tell a Friend</b></h3>
		<p><i>Copy and Paste the following message and send it to your friends.</i></p>
		<p>Dear</p>
		<p>Because you have a Good Dog I thought you'd be interested in hearing about a great effort.
			<a href="http://www.iamagooddog.com" class="iamagoodog"> http://www.iamagooddog.com </a>
			is a website that is recruiting Good Dogs to help make a movie that will serve as a fund-raising tool for non-profit animal groups all over the world. 
		</p>
		<p>When you buy a Good Dog Block for a mere $1 you get:</p>
		<ul class="li">
			<li>A linkable, 40 x 40 pixel block that displays a photo of your best friend</li>
			<li>A Certificate of Recognition from the United Alliance of Canine Companions that honors your dog's unwavering dedication and love.</li>
		</ul>
		<p>You will also get a warm fuzzy feeling from knowing you helped make a difference for less fortunate animals and helped elevate the status of animals everywhere. Visit 
			<a href="http://www.iamagooddog.com" class="iamagoodog"> http://www.iamagooddog.com </a>
			 today - you won't regret it!
		</p>
		<p>Power to the Paw!</p>
		
		<h3><b>Carry a Banner</b></h3>
		<p><i>Copy the code from one of the banners below and embed it on your website.</i></p>
		<p><b>This is more fun than peanut butter, less messy than paint and less painful and life-threatening than germs. As for joy - just ask a dog.<br />
			They know exactly how to spread it. 
		</b></p>
		<p><b>Power To The Paw!</b></p>					
	</div>
	
	<div class="holders">
		<form action="#">
			<fieldset>
				<div class="block_1">
					<img src="assets/good.dog.wanted.jpg" />
					<p>728x90</p>
					<input type="text" value=<%= root_url +  'assets/' + 'good.dog.wanted.jpg' %> ">
				</div>
				<div class="col_1">
					<div class="bock_2">
						<span class="pic">
							<img src="assets/dog.asking.jpg"/>
						</span>
						<p>160x600</p>
						<input type="text" value=<%= root_url +  'assets/' + 'dog.asking.jpg' %> ">
					</div>				
				</div>
				<div class="col_2">
					<div class="block_3">
						<span class="pic_2">
							<img src="assets/dogs.love.movies.jpg"/>
						</span>
						<p>468x60</p>
						<input type="text" value=<%= root_url +  'assets/' + 'dogs.love.movies.jpg' %> ">
					</div>
					<div class="block_3">
						<span class="pic_1">
							<img src="assets/black.and.white.jpg" />
						</span>
						<p>336x280</p>
						<input type="text" value=<%= root_url +  'assets/' + 'black.and.white.jpg' %> ">
					</div>
					<div class="block_2">
						<span class="pic_1">
							<img src="assets/good.dogs.jpg" />
						</span>
						<p>120x240</p>
						<input type="text" value= <%= root_url +  'assets/' + 'good.dogs.jpg' %> ">
					</div>				
				</div>
				<div class="row">
					<div class="block_4">
						<span class="pic_1">
							<img src="assets/dog.good.jpg" />
						</span>
						<p>125x125</p>
						<input type="text" value= <%= root_url +  'assets/' + 'dog.good.jpg' %> ">
					</div>
					<div class="block_4">
						<span class="pic_2">
							<img src="assets/dog-01.jpg" />
						</span>
						<p>125x125</p>
						<input type="text" value=<%= root_url +  'assets/' + 'dog-01.jpg' %> ">
					</div>
					<div class="block_2">
						<span class="pic_3">
							<img src="assets/gooddog_good.jpg" />
						</span>
						<p>120x60</p>
						<input type="text" value=<%= root_url +  'assets/' + 'gooddog_good.jpg' %> ">
					</div>		
				</div>				
			</fieldset>
		</form>		
	</div>
</div>
