
<div id="grid-content-readonly">
	<div id="grid-headers">
		<% ('a'..'t').to_a.each do |letter| %>
			<span class="lateral dog-title-up-readonly"><%= letter %></span>
		<% end %>
	</div>
	
	<div id="grid-container-readonly">
		<% (1..20).to_a.each do |y| %>
		        <% (1..20).to_a.each do |x| %>
			        <span class="dog-readonly"><a><span class="img_placeholder"></span></a></span>
			<% end %>
		<% end %>
		
		
		<% rooms.each do |room|%>
		        <% y = room.y.-(1) %>
		        <% x = room.x.-(1) %>
		        <% user = User.find(room.user_id) %>	    		       
				<img data-room_id= "<%= room.id %>" data-user="<%= user.email %>" class="place" src="<%= room.dog.image.url(:thumb) %>" style="position:absolute;top:<%= y * 40 %>px;left:<%= x * 40 %>px;z-index:2;width:<%= room.width * 40 %>px;height:<%= room.height * 40 %>px;"></img>												
		<% end %>
		
		
		
		<% if !reservations.nil? %>
		        <% reservations.each do |reservation| %>
		               <% width = reservation.width.-(1) %>
		               <% height = reservation.height.-(1) %>
		               <% (0..width).to_a.each do |x| %>
		                       <% (0..height).to_a.each do |y| %>
		                                 <img src="/assets/reserve.png" style="position:absolute;top:<%= (reservation.y-1 + y)* 40 %>px;left:<%= (reservation.x-1 + x)* 40 %>px;z-index:2;width:40px;height:40px;"></img>
		                                 
		                       <% end %>
		               <% end %>
		                
		        <% end %>
		<% end %>
	</div>
	
	<ul class="lateral dog-title-right-readonly">
		<% (0..19).to_a.each do |number| %>
			<li><%= number %></span>
		<% end %>
	</ul>
	
</div>




