 <%= stylesheet_link_tag  "popups/popups", :media => "all" %>

<div class='dog-detail'>

	<h2><%= @dog.name %></h2>
		
	<div>
		<img  src="<%= @dog.image %>"></img>
	</div>
	
	<div class="tab_info">
		<table>
			
			<% if !@dog.name.blank? %>
				<tr>
					<td><b>Name:</b></td>
					<td><%= @dog.name %></td>
				</tr>
			<%end%>
			
			<% if !@dog.age.to_s.blank?%>
				<tr>
					<td><b>Age:</b></td>
					<% if !@dog.age.to_s.blank? %>
						<td><%= @dog.age %> years <td>
					<%end%>
				</tr>				
			<%end%>
			
			<% if !@dog.home.blank? %>
				<tr>
					<td><b>Home Town:</b></td>
					<td><%= @dog.home %></td>
				</tr>
			<%end%>
			
			<% if !@dog.more.blank? %>
				<tr>
					
					<td colspan="2"><b>How the Lord has touched my life:</b></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><%= @dog.more %></td>
				</tr>
			<%end%>
		
		</table>
		

	</div>
	
</div>