<%= form_for @dog, :html => {:class => "create_entity"+ type_id.to_s, :multipart => true} do |f| %>
<%= f.hidden_field :dog_type_id, :value=>type_id %>
<%= f.hidden_field :id, :value => @dog.id %>
<table>
	<tr>
		<td> <%= f.label :name %>: </td>
		<td> <%= f.text_field :name %> </td>
	</tr>
	
	<%if type_id.to_s != '3' %>
		<tr>
			<td> <%= f.label :age %>: </td>
			<td> <%= f.number_field :age %></td>		
		</tr>
	<%end%>
			
	<tr>
		<td> Home Town: </td>
		<td> <%= f.text_field :home %> </td>
	</tr>
	<tr>
		<%if type_id.to_s != '3' %>
			<td colspan="2"> How the Lord has touched my life: </td>
		<%end%>
		<%if type_id.to_s == '3' %>
			<td colspan="2"> Favorite Memory: </td>
		<%end%>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td><%= f.text_area :more %> </td>
	<tr>
		<td> <%= f.label :image %>: </td>
		<td>  <%= f.file_field :image %> Max size: 6MB </td>
		
	</tr>
	<% if !@dog.image_file_name.nil?%>
		<tr>
			<td><%= image_tag @dog.image.url(:thumb) %></td>
			<td></td>
		</tr>
	<%end%>
</table>
<% end %>