<!DOCTYPE html>
<html>
<head>
  <title>My Faith Shines</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
 
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-37801558-1']);
	  _gaq.push(['_trackPageview']);
	 
	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	 
	</script>
</head>
<body>
<div id="banner">
	<a href="#" id="logo"><img src="/assets/mfs_logo.jpg" height="114" alt="" title=""></a>
</div>
	
<div id="body_background">
	
<div id="header_layout">
   		<!--<a href="#" id="logo"><img src="/assets/logo.png" width="310" height="114" alt="" title=""></a>-->
   		
		<ul class="navigation">
			<li class=<%= current_class?(root_path) %> >
				<%= link_to "Home", root_path %> 
			</li>
			<li class="<%= current_class?(overview_path) %>">
				<%= link_to 'Overview', overview_path %>
			</li>			
			<li class="<%= current_class?(getstarted_path) %>">
				<%= link_to "Get Started", getstarted_path %> 
			</li>
			<li class="<%= current_class?(all_sponsors_path) %>">
				<%= link_to 'All Sponsors', all_sponsors_path %>				
			</li>
			<li class="<%= current_class?(find_my_dog_path) %>">
				<%= link_to 'Find My Block', find_my_dog_path %>				
			</li>			
			<li><%= link_to "Blog", 'http://borntoovercome.blogspot.com/', :target => '_blank' %></li>		
			<% if user_signed_in? %>
				<li><%= link_to('Sign Out', destroy_user_session_path, :method => :delete) %>  </li>
			<% else %>
				<li><%= link_to('Sign In', '/users/sign_in')  %> </li>
			<% end %>	
			
		</ul>
		<% if user_signed_in? %>
			<div id="login_wrapper">
				<%= current_user.email %>
			</div>
		<%end%>
		
		<%= render :partial=>"reservations/counter", :locals=>{:minutes=> @minutes, :seconds => @seconds} %>
</div>

</div>
<div id="black_line">
	
</div>

<div id="body">

	<div id="flash_message_wrapper">
		<%= flash_message %>
	</div>
	<div id="content">
		<%= yield %>
	</div>
</div>
<div id="footer_layout">
		<div class="section_footer">
			<ul>
				<li>
					<h2><%= link_to('Spread the Word', spread_the_word_path) %></h2>
				</li>	
				<li>
					<h2><%= link_to('Contact Us', get_us_path) %></h2>
				</li>	
				<li>
					<h2><%= link_to('Terms and Conditions', legal_mumbo_path) %></h2>
				</li>	
				<li>
					<h2><%= link_to('Promotions', promotions_path) %></h2>
				</li>	
				<li>
					<h2><%= link_to('Info for Filmmakers', 'http://boxofficeblocks.com/Info_for_Filmmakers.html', :target => '_blank') %></h2>
				</li>
				<li>
					<h2><%= link_to('Info for Sponsors', info_sponsors_path) %></h2>
				</li>	
			
			</ul>
		</div>
		<div id="footnote">
			<div class="section_footer">			
			   &copy; 2013 Tinted Glass Films, LLC  ALL RIGHTS RESERVED <%= link_to image_tag("TGF_Logo.jpg", :class => 'logo_LHF'), 'http://tintedglassfilms.com', :target => '_blank' %>	<%= link_to image_tag("BOB_Logo.jpg", :class => 'logo_footer'), 'http://boxofficeblocks.com', :target => '_blank' %>
			</div>
		</div>
</div>
<div id="loading"></div>
<div id="overlay"></div>
<div id="manual_loading"></div>
<div id="manual_overlay"></div>


</body>
</html>
